@import '~include-media/dist/_include-media';
@import "~vue2-animate/src/sass/vue2-animate.scss";

@mixin with-border {
  border: solid 2px black;
  border-radius: 4px;
}
@mixin bold-text {
  text-transform: uppercase;
  font-weight: 900;
}
