::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
*,
::before,
::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
a {
  text-decoration: none;
  color: $colDarkGrey;
}
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}
.s-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
}
h3 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 600;
}
h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
}
.buttons {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  .plus {
    position: relative;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    font-size: 0.9rem;
    right: unset;
    &:hover {
      background: $colGold5;
    }
  }
  .delete-icon {
    transform: rotate(45deg);
    background: transparent !important;
    font-weight: bold;
    color: $colGold3 !important;
    border: 1px solid;
    line-height: 18px;
    transition: all 0.3s ease-in-out;
    &:hover {
      border: 1px solid red;
      background: transparent;
    }
  }

  &.fixed-width {
    width: 75px;
  }
}
input[type='text'] {
  all: unset;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 2px 5px;
  margin-right: 1rem;
  width: 74%;
  &:focus {
    box-shadow: 1px solid #f2f2f2;
  }
  &::before {
    content: '';
    position: absolute;
    left: calc(50% - 327px);
    top: calc(50% - 30px);
    color: #333;
    font-weight: bold;
    font-size: 40px;
    padding: 0 10px;
  }
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder,
  &::placeholder {
    font-size: 18px;
    color: dimgrey;
    font-family: sans-serif;
    transition: all 0.5s ease;
  }
  &:focus {
    &::placeholder {
      font-size: 8px;
      top: 0;
      position: absolute;
      transition: all 0.3s ease;
    }
  }
}
input[type='text']  {
  display: block;
  margin-right: 57px;
  width: 100%;
  padding: 10px;
  border: 1px solid #cde;
  border-radius: 3px;
  color: black;
  background: white;
  outline: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
input, select { font-size: 16px; }
.crossed {
  position: relative;
  color: $colGrey;
}
.crossed::after {
  content: ' ';
  position: absolute;
  top: 49%;
  left: 0px;
  width: 100%;
  height: 2px;
  background: $colLightGrey;
  animation-name: strike;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.itemUserPic {
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid #bf9b30;
  padding: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mx-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;

}
.justify-end {
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .btn {
    padding: 15px 32px;
  }
}
.vue-simple-suggest.designed .suggestions .suggest-item,
.vue-simple-suggest.designed .suggestions .misc-item {
  color: $colDarkGrey;
  font-family: 'Coming Soon', cursive;
}
.page-inner .vue-simple-suggest.designed .suggestions .suggest-item.hover {
  background-color: $colGold3 !important;
  color: #fff !important;
}
.v-easy-dialog--backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
.v-easy-dialog--backdrop-btn {
  background: transparent;
}
.v-easy-dialog--content-container {
  padding: 2rem;
  background: $colGold5;
  align-items: center;
  color: $colGrey;
}
main {
  .vue-simple-context-menu {
    background: $colGold5 ;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 19px 38px,
    rgba(0, 0, 0, 0.64) 0px 15px 12px;
    transition: all 0.4s ease-in-out;
    border-radius: 1rem;
    padding: 0.5rem 0;
  }
  .vue-simple-context-menu__item {
    color: $colDarkGrey ;
    &:hover {
      background: $colGold3 ;
    }

  }


}

/* .card {
  color: #e6e6e6;
  margin-top: 18px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  transition: padding 0.3s;
  max-width: 420px;
  &--inner {
    padding: 20px;
    position: relative;
    z-index: 5;
  }
  &--header h2 {
    color: #e6e6e6;
    font-weight: 400;
    margin: 0 0 5px;
    color: #dd625e;
    font-size: 1.2rem;
  }
  &--content {
    padding: 24px;
    text-align: center;
  }
  &--footer {
    padding: 32px 16px;
    color: $colGrey;
    font-size: 0.8rem;
    text-align: right;
  }
} */

/* tilt in animation */
.tilt-in-enter,
.tilt-in-leave-to {
  transform: rotateY(20deg) rotateX(35deg) translate(-100px, -300px)
    skew(-35deg, 10deg);
  opacity: 0;
}

.tilt-in-enter-active,
.tilt-in-leave-active {
  transition: ease-out transform 0.3s, opacity 0.2s;
}

.dropdown-enter,
.dropdown-leave-to {
  transform: scaleY(0.7);
  opacity: 0;
  position: absolute;
}

.dropdown-enter-to,
.dropdown-leave {
  opacity: 1;
  transform: scaleY(1);
  position: absolute;
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.3s ease-out;
  transform-origin: top center;
  position: absolute;
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
